---
layout: default
title: Code Urls
---

<div class="container box">

<ul>
	<li>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="langwan" data-lang="en">Tweet</a> 

	<a href="https://twitter.com/langwan" data-show-count=true class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @langwan</a>
	</li>
	{% for cat in site.categories %}
	<li>
		<h4>{{cat[0]}}</h4>
		<div>
		{% for post in cat[1] %}
			<a target="_blank" href="{{ post.siteurl }}">{{ post.title }}</a>
			{% if post.twitter %}
			<a target="_blank" href="https://twitter.com/{{ post.twitter }}"><i class="tag fa fa-twitter"></i></a>
			{% endif %}
			{% if post.github %}
			<a target="_blank" href="https://github.com/{{ post.github }}"><i class="fa fa-github"></i></a>
			{% endif %}			
			 |
		{% endfor %}
		</div>
	</li>
	{% endfor %}
	
</ul>

</div>
