<!DOCTYPE HTML>
<html  xml:lang="zh-CN">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" >
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/main.min.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 </head>

<body>
        <div class="container">
                <div>
                        <h1>Code Urls</h1>
                </div>
                {{ content }}
        </div>
</body>

</html>